.pane-title {
    font-size: 24px!important;
    color: white;
    text-shadow: 0px 1px 2px #575959!important;
    font-family:helvetica neue;
}
.pane-description {
    font-size: 14px!important;
    color: #615e5e;
    font-family:helvetica neue;
    text-shadow: 0px 1px 2px #e8f0f1!important;

}
.pane-button-image{
  background: sc_static('/images/button_icon.png');
  background-repeat: no-repeat;
}
.pane-switch-image{
  background: sc_static('/images/switch_icon.png');
  background-repeat: no-repeat;
}
.pane-tool-image{
  background: sc_static('/images/toolbar_icon.png');
  background-repeat: no-repeat;

}
.pane-label-image{
  background: sc_static('/images/text_icon.png');
  background-repeat: no-repeat;

}
.pane-text-image{
  background: sc_static('/images/textfield_icon.png');
  background-repeat: no-repeat;

}
.pane-cell{
    border-bottom: 1px solid rgba(111,111,111,0.2)!important;
}
.pane-bar-title {
    font-size: 13px!important;
    color: #4e4e4e;
    text-shadow: 0px 1px 1px #FFFFFF!important;
    font-family:lucida grande!important;

}
.pane-close-button{
    background: sc_static('/images/close_icon.png');
}
.pane-min-button{
    background: sc_static('/images/minimize_icon.png');
}
.selection-class {
    outline: 1px solid #CCCCCC!important;
}