.banks.sc-segmented-view .sc-segment-view.sc-first-segment {
  width: 126px;
  /*background: yellow;*/
}

.banks.sc-segmented-view .sc-segment-view.sc-first-segment.active,
.banks.sc-segmented-view .sc-segment-view.sc-first-segment.sel {
  background: blue!important;
}


.banks.sc-segmented-view .sc-segment-view.sc-last-segment {
  width: 126px;
  border: none;
}


.banks.sc-segmented-view .sc-segment-view.sc-last-segment.active,
.banks.sc-segmented-view .sc-segment-view.sc-last-segment.sel {
  background: lightblue!important;
}