
$theme: '.ace.artifix-theme';.top_bar {
  background: #e6e6e6; /* Old browsers */
  background: -moz-linear-gradient(top,  #e6e6e6 0%, #b6b6b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#b6b6b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e6e6e6 0%,#b6b6b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e6e6e6 0%,#b6b6b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e6e6e6 0%,#b6b6b6 100%); /* IE10+ */
  background: linear-gradient(top,  #e6e6e6 0%,#b6b6b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.60);
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.60);
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.60);
  z-index: 20;
}