/* SC.CheckboxView - sc-theme */

.troggle.sc-checkbox-view {
	line-height: 19px;
	vertical-align: middle;
}

.troggle.sc-checkbox-view .label {
	color: #636161;
  font-weight: normal;
  font-size: 14px !important;
  font-family: "Helvetica Neue";
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.50);
  position: absolute ;
	left: 24px;
	top: 0;
	right: 0;
	bottom: 0;
	line-height: 16px;
}


/* @group Checkbox Image */


.troggle.sc-checkbox-view span.button {
	background: no-repeat sc_static('/images/checkbox_false.png');
	width: 17px;
	height: 19px;
	position: absolute ;
	line-height: 19px;
	left: 1px; 
	top: 0px;
}

.troggle.sc-checkbox-view.sel span.button {
	background: no-repeat sc_static('/images/checkbox_true.png');
}

/* @end */

